li {}

.Category {

    display: flex;
}

ul {
    display: flex;
    text-decoration: none;
}

.Category ul li {
    list-style: none;
}

.Category a {
    text-decoration: none;
    padding: 5px;
    margin-left: 40px;
    color: black;
    background-color: lightgray;
    border-radius: 10px;
}